@font-face {
    font-family: Barlow, sans-serif;
    src: url("assets/fonts/Barlow-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: Barlow, sans-serif;
    src: url("assets/fonts/Barlow-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Barlow, sans-serif;
    src: url(/assets/fonts/Barlow-Bold.ttf);
    font-weight: 700;
}
*{
    box-sizing: border-box;
}

html {
    font-family: Barlow, sans-serif;
    scroll-behavior: smooth;
    background-color: #E7E6E6;
}

html, body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container, 
.main_container,
.footer_container {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid red
}

.additional_info {
    display: block;
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid blue;
    text-align: justify;
    padding: 2%;
    float:left;
}

.main_info {
    display: block;
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid green;
    text-align: justify;
    padding: 2%;
    float: right;
}

.my_photo{
    width: 30%;
    border-radius: 30px;
    padding: 2%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}
.nav-item a{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-item a:hover {
    color: #F4EE00;
    text-decoration: underline;
}
.header_container {
    background: #7B1796;
}